* {
    /* border:                  5px solid blue; */
    box-sizing:                    border-box;
    margin:                               5px;
    padding:                              0px;
}

body {
    /* border:                  5px solid blue; */
    display:                             grid;
    place-items:                       center;
}

.navbar {
    /* border:                  5px solid blue; */
    display:                             grid;
    place-items:                       center;
}

.ls-login-logo {
    /* border:                  5px solid blue; */
    font-size:                           50px;
    text-align:                        center;
    color:                         darkcyan;
}

.user-form-input,
.pass-form-input,
.btn-sing-in {
    font-size:                           18px;
}

.btn-sing-in {
    /* border:                  5px solid blue; */
    font-size:                           16px;
        /* center        */
        display:     block;
        margin-left:  auto;
        margin-right: auto;
        /* center        */
    padding:                              3px;
    width: 30%;
}
fieldset:hover,
.btn-sing-in:hover {
    border:              2px solid darkcyan;
    font-weight:                       bolder;
    color:                         darkcyan;
}

/* form.html */
.despesas {
    /* border:                 2px solid black; */
    padding:                             20px;
}
.cadastrarDespesaTitulo {
    background-color:              darkcyan;
    margin:                                 0;
    padding-top:                          5px;
    padding-left:                         5px;
    padding-right:                        5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:                         bold;
    font-size:                           22px;
    color:                            white;
}
.cadastrarDespesaEntradas {
    background-color:              darkcyan;
    margin:                                 0;
    padding-bottom:                       5px;
    padding-left:                         5px;
    padding-right:                        5px;
}
.entradasSaidasDespesas {
    height:                              30px;
}
.entradaValor,
.entradaId,
.botaoCadastrar {
    font-size:                           16px;
    width:                               80px;
}