.dashboard {
    background-color: whitesmoke;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
    position: relative;

    padding-top: 0;
}

.dashboard .next {
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 10px;
    padding-right: 20px;
}
.dashboard .next .next-button {
    color: #FFFFFF;
}
.dashboard .next .next-button {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.dashboard .next .next-button:link, 
.dashboard .next .next-button:visited,
.dashboard .next .next-button:active {
    color: #FFFFFF;
    text-decoration: transparent;
}
.dashboard .next .next-button:hover {
    color: #21BB96;
    font-weight: bold;
}

.dashboard .h1-dashboard {
    font-size: 24px;
    color: #21BB96;
}

.dashboard .week .planned,
.dashboard .week .remaining,
.dashboard .week .expenses-budget {
    display: flex;
    justify-content: center;
    align-items: center;
}