.register-success div:nth-child(1) {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #21BB96;
}
.register-success div:nth-child(2) {
    height: 23vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-weight: 100;
    font-size: 14px;
    color: #FFFFFF;
}
.register-success div:nth-child(3) {
    color: #FFFFFF;
}
.register-success div:nth-child(3) a {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    border: 1px solid #B9D3C7;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.register-success div:nth-child(3) a:link, 
.register-success div:nth-child(3) a:visited,
.register-success div:nth-child(3) a:active {
    color: #FFFFFF;
    text-decoration: transparent;
}
.register-success div:nth-child(3) a:hover {
    color: #21BB96;
    font-weight: bold;
}
.register-success div:nth-child(3) p {
    font-size: 24px;
}